# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

In [16]:
import pandas as pd
df_airbnb = pd.read_csv("./src/airbnb.csv")

In [17]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [18]:
df_airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

## Usando Pandas

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [19]:
# Consejo: para mostrar 3 alternativas emplee head(3)

# condiciones del problema
condition = ((df_airbnb['reviews'] >10) & (df_airbnb['overall_satisfaction'] >4))
condition_2 = ((df_airbnb['accommodates']==4) & (df_airbnb['bedrooms']==3))

df_filter = df_airbnb[condition]
df_filter = df_airbnb[condition_2]

# ordenamiento
df_order = df_filter.sort_values(['overall_satisfaction', 'reviews'], ascending=[False, False])

# top 3 
df_order.head(3)

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
1865,2777355,14204351,Entire home/apt,Estrela,89,5.0,4,3.0,58.0
4100,6408578,33201646,Entire home/apt,Misericórdia,86,5.0,4,3.0,75.0
1153,1374173,2635324,Entire home/apt,Santa Maria Maior,56,5.0,4,3.0,93.0

### MEJORA DEL CODIGO DE ARRRIBA

In [20]:
# Condiciones del problema
condition = (df_airbnb['reviews'] > 10) & (df_airbnb['overall_satisfaction'] > 4)
condition_2 = (df_airbnb['accommodates'] >= 4) & (df_airbnb['bedrooms'] == 2 ) # Alojamiento para 4 personas con 2 habitaciones (padres y hijos)

# Aplicar las condiciones
df_filtered = df_airbnb[condition & condition_2]

# Ordenar por puntuación y número de críticas
df_ordered = df_filtered.sort_values(by=['overall_satisfaction', 'reviews'], ascending=[False, False])

# Mostrar las 3 mejores opciones
top_3_options = df_ordered.head(3)
top_3_options

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
120,176153,842219,Entire home/apt,Misericórdia,438,5.0,4,2.0,102.0
140,202150,989393,Entire home/apt,Santa Maria Maior,274,5.0,4,2.0,62.0
388,496195,647439,Entire home/apt,Santa Maria Maior,259,5.0,4,2.0,52.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [ ]:
pip install openpyxl

In [ ]:
pip install --upgrade pip

In [32]:
import pandas as pd

# Cargar el archivo CSV
df_airbnb = pd.read_csv("src/airbnb.csv")

# Filtrar las propiedades de Roberto y Clara por sus respectivas IDs
roberto_id = 97503
clara_id = 90387

# Crear un DataFrame con las propiedades de Roberto y Clara
df_roberto_clara = df_airbnb[df_airbnb['room_id'].isin([roberto_id, clara_id])]

# Guardar el DataFrame como un archivo Excel
file_name = "roberto.xlsx"
df_roberto_clara.to_excel(file_name, index=False)

In [35]:
file_name = "roberto.xlsx"

df_roberto = pd.read_excel(file_name)

df_roberto

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,90387,490050,Private room,Santo António,204,5,2,1,46
1,97503,515924,Private room,Santo António,39,4,2,1,26


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [38]:
df_airbnb = pd.read_csv("/workspaces/Python-PC5/src/airbnb.csv")

diana_presupuesto = 50
diana_noches = 3

condition = (df_airbnb['price'] * diana_noches <= diana_presupuesto)

df_filtered = df_airbnb[condition]

# habitaciones compartidas 
shared_habitaciones = df_filtered[df_filtered['room_type'] == 'Shared room']

# Ordenar puntuación y precio
sorted_shared_rooms = shared_habitaciones.sort_values(by=['overall_satisfaction', 'price'], ascending=[False, True])

# 10 propiedades
top_10_shared_rooms = sorted_shared_rooms.head(10)
top_10_shared_rooms

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
9065,14933182,91501272,Shared room,Santo António,5,5.0,8,1.0,11.0
6056,10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
7060,12299998,66077974,Shared room,Arroios,49,5.0,1,1.0,13.0
7066,12305540,66077974,Shared room,Arroios,40,5.0,1,1.0,13.0
8918,14719962,40574313,Shared room,Avenidas Novas,4,5.0,4,1.0,13.0
7034,12268067,66077974,Shared room,Arroios,96,5.0,1,1.0,16.0
9964,16150682,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,16.0
10723,17096560,107813252,Shared room,Areeiro,5,5.0,1,1.0,16.0
4353,6728244,28812904,Shared room,Santa Maria Maior,8,4.5,1,1.0,11.0
5616,9317561,48360716,Shared room,Arroios,13,4.5,4,1.0,11.0